
<article class="pa4 pt6 black-80 fade-in">
<section class='forms'>
    <form class="measure center" action="/auth/signup" method="post" accept-charset="utf-8">
      {{#if errorMessage}}
      <p class="error-message">
        {{ errorMessage }}
      </p>
      {{/if}}
      <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
        <legend class="f3 fw6 ph0 red mh0">Signup</legend>
        <div class="mt3">
          <label class="db fw4 lh-copy f5" for="username-input">Username</label>
          <input class="pa2 input-reset ba bg-transparent w-100 measure" type="text" name="username" id="name-input">
        </div>
        <div class="mt3">
          <label class="db fw4 lh-copy f5" for="email-input">Email address</label>
          <input class="pa2 input-reset ba bg-transparent w-100 measure" type="email" name="email" id="email-input">
        </div>
        <div class="mt3">
          <label class="db fw4 lh-copy f5" for="password-input">Password</label>
          <input class="b pa2 input-reset ba bg-transparent w-100 measure" type="password" name="password"
            id="password-input">
        </div>
      </fieldset>
      <div class="mt3"><input class="b ph3 pv2 input-reset ba orange bg-transparent grow pointer f5" type="submit"
          value="Sign Up"></div>
    </form>
  </article>
</section>