 <div class="about-text">
        <h1 class="titleAbout">about.</h1>
     <p>
         exersAIse is an idea wrote, developed and brewed by Milton, Sofia and Jacopo during 7 days in May 2020.
         Where times are tough and we are all forced to stay inside for the majority of our days, we decided to
         make people tougher, using a little bit of fantasy and a little bit of (artificial) intelligence.
         By uploading pictures of your furniture we will give you the best exersices you can do with them, as
         well as connecting you with your friends via video call, so you can share your sessions and get that
         extra motivation. We hope you get involved, and stay active, happy and healthy!
     </p> <br>
     </p>
 </div>