 <div class="about-text">
     <p>
         C4A aims to generate an approach towards people interested in art and creative studies.<br>The main feature of
         the
         project is for the user to experiment with a machine-learning-driven interface based on creative coding. <br>
         A common misconception we’ve encountered with is that Coding and Art are dissociated.<br>We believe there is a
         lot of potential in the symbiosis of these two fields.<br>In view of this, we’ve created a platform based on the
         connection of said fields, with the purpose of connecting users from all over the world (and potentially
         trigger collaborations). <br>
     </p>
     <p>
         The platform is based on JavaScript, and composed of several libraries written in this language. It
         includes a 3D canvas created with p5.js and WebGL, a generative kaleidoscope-like piece based on machine
         learning created with ml5.js and other features related. <br>
     </p>
     <p>
         <a href="https://p5js.org">p5.js</a> is a JavaScript library for creative coding created by Lauren McCarthy,
         with a focus on making coding accessible and inclusive for artists, designers, educators, beginners, and anyone
         else! <br>
     </p>
     <p>
         <a href="https://ml5js.org">ml5.js</a> is a JavaScript library (inspired on p5.js) that aims to make machine
         learning approachable for a broad audience of artists, creative coders, and students. The library provides
         access to machine learning algorithms and models in the browser, building on top of <a href="https://www.tensorflow.org">TensorFlow.js</a> with no
         other external dependencies. <br>
     </p>
     <p>
         The libraries described above are part of the <a href="https://processingfoundation.org">Processing
             Foundation.</a>
     </p>
 </div>
 <img src="/resources/rui.png" class="ruido" alt="ruido">
 <script src="/scripts/perlin-noise.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>