 <div class="about-text">
        <h1 class="titleAbout">exersAIze</h1>
     <p>
         exersAIse is an idea wrote, developed and brewed by Milton, Sofia and Jacopo during 7 days in May 2020.
         Where times are tough and we are all forced to stay inside for the majority of our days, we decided to
         make people tougher, using a little bit of fantasy and a little bit of (artificial) intelligence.
         By uploading pictures of your furniture we will give you the best exersices you can do with them, as
         well as connecting you with your friends via video call, so you can share your sessions and get that
         extra motivation. We hope you get involved, and stay active, happy and healthy!
     </p> <br>
     </p>
     <p>
         The platform is based on JavaScript, and composed of several libraries written in this language. It
         includes a 3D canvas created with p5.js and WebGL, a generative kaleidoscope-like piece based on machine
         learning created with ml5.js and other features related. <br>
     </p>
     <p>
         <a href="https://p5js.org">p5.js</a> is a JavaScript library for creative coding created by Lauren McCarthy,
         with a focus on making coding accessible and inclusive for artists, designers, educators, beginners, and anyone
         else! <br>
     </p>
     <p>
         <a href="https://ml5js.org">ml5.js</a> is a JavaScript library (inspired on p5.js) that aims to make machine
         learning approachable for a broad audience of artists, creative coders, and students. The library provides
         access to machine learning algorithms and models in the browser, building on top of <a href="https://www.tensorflow.org">TensorFlow.js</a> with no
         other external dependencies. <br>
     </p>
     <p>
         The libraries described above are part of the <a href="https://processingfoundation.org">Processing
             Foundation.</a>
     </p>
 </div>