<img src="/resources/rui.png" class="ruido" alt="ruido">
<p class='threeDp'>Experiment with Machine Learning through illustration.<br>Connect with people interested in creative coding all over the world.<br>((((Click anywhere to start.))))</p>
 <!-- p5 libraries -->
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.min.js"></script>
 </script>
 <script src="/scripts/3D.js"></script>