<!DOCTYPE html>
<html>

<head>
  <title>ExersAize</title>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="navbar">
    <ul class="menu">
      
    <li class="logoHome"><a href="/main" class='logoHome'>exersAize</a></li>

      {{#if isUserLoggedIn}}
      <li><a class="profile" href="/personal/profile">{{currentUserInfo.username}}</a></li>
      <li><a class="logout" href="/auth/logout">LOGOUT</a></li>
      <li><a href="/about" class='about'>ABOUT</a></li>
      {{else}}
      <li><a href="/auth/signup" class='archive'>SIGNUP</a></li>
      <li><a href="/auth/login" class='play'>LOGIN</a></li>
      <li><a href="/about" class='about'>ABOUT</a></li>
      {{/if}}
    </ul>

    <div class="transition-wipe overlay"></div>
  </div>
  <div id="swap" class="transition-fade">
    {{{body}}}
  </div>
</body>
<script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
<script>
  const swup = new Swup();
</script>

</html>
