<main class="main-page fade-in">
    <section class="top">
        <div class="instructions-main">
            <div class="intro-card">
                <div class="intro-card-content">
                    <div class="intro-card-main">
                        <img class="instruction-image" src="/resources/unoo.png" alt="">
                        <div>
                        <h1>TAKE</h1>
                        <h5 class="instructions">and upload a picture of elements you find in your house<br>(and can potentially excercise with)</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-card">
                <div class="intro-card-content">
                    <div class="intro-card-main">
                        <img class="instruction-image" src="/resources/dos.png" alt="">
                        <div>
                        <h1>SELECT</h1>
                        <h5 class="instructions">a type of exercise you feel like doing</h5>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="intro-card">
                <div class="intro-card-content">
                    <div class="intro-card-main">
                        <img class="instruction-image" src="/resources/tress.png" alt="">
                        <div>
                        <h1>ADD</h1>
                        <h5 class="instructions">your exercise to your amazing routine</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {{#if isUserLoggedIn}}
        <div class="getReady">

            <button onclick="myFunction()" class="b ph3 pv2 input-reset ba b--white bg-orange grow pointer f5"
                type="submit">Get ready to get SWEATY!</button>
        </div>
        {{!-- 
        <div class="mt3"></div> --}}

        {{else}}
        <p id="notLog"> <a href="/auth/login">Log In </a> or <a href="/auth/login">Sign Up</a> to start exersAIze!</p>
        {{/if}}
    </section>

    {{#if isUserLoggedIn}}
    <section class="bottom" id="bottom">

        <div class="inputsPhoto">
            <h4>Upload a photo !</h4>
            <input type="file" id="img" name="photo" placeholder="">

        </div>
        <div class="inputsEx">
            <h4>Choose a type of Ex</h4>
            <label for="type-select"></label>
            <select name="exercises" id="excercise-select">
                <option value="">--Please choose an option--</option>
                <option value="Cardio">Cardio</option>
                <option value="Legs">Legs</option>
                <option value="Arms">Arms</option>
            </select>
        </div>
        <div class="allexers">

        </div>
    {{/if}}
<div class="each-ex">
    
</div>
    </section>

</main>
<script>
    function myFunction() {
        var elmnt = document.getElementById("bottom");
        elmnt.scrollIntoView();
    }
</script>
<!-- p5 libraries -->
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
<script src="https://unpkg.com/ml5@0.4.3/dist/ml5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.min.js"></script>
<script src="/scripts/sketch.js"></script>