<main class="main-page fade-in">
    <div class='sketch-button'>

        {{!-- <div id="mySketch"></div> --}}
        <input type="file" id="img" name="photo" placeholder="">
        {{!-- <img src="" id="imageTest" alt=""> --}}
        <button class="saveButton b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f5"
            id="submitButton">SAVE</button>
    </div>

    {{#if isUserLoggedIn}}
    <div id="knobs">
    </div>
    {{else}}
    <p id="notLogged" style="">Log in for full experience!</p>
    {{/if}}
    </div>
    <div id="knobs" style="display: none"></div>
</main>
<!-- p5 libraries -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
<script src="https://unpkg.com/ml5@0.4.3/dist/ml5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.min.js"></script>
</script>
<script src="/scripts/sketch.js"></script>