<div class="single-piece fade in">
    <img src="{{picture.data.image}}" class="image-single-piece" alt="">
    <a href="/profiles/{{picture.user._id}}"><p class="created">Created by   {{picture.user.name}}</a></p>
</div>