@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;900&display=swap');
html, body{
  scroll-behavior: smooth;
  
}

* {
  margin: 0px;
  padding: 0px;

  color: #f32b11;
  background-color: #222222;
  background-image: url('/resources/bkgrnd.png');
  font-family: Raleway;
}

/*navbar FALTA MOBILE FIRST*/


.navbar {
  border-bottom:  #ff5100 1px solid;
  width: 95%;
  margin-left: 2.5%;
  height: 5%;

}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* transform: rotate(180deg); */
  height: 5rem;
  margin: 0 auto;
  padding-right: 30px;
  z-index: 3 !important;
}

 li a {
  /* transform: rotate(180deg); */
  font-family: Fira Code;
  font-size: 1rem;
  color: #f32b11;
  font-weight: bold;
  letter-spacing: 4px;
  margin: 2rem;
  background-color: transparent;
  text-align: center;
  width: 15%;
  transition: width 0.8s ease 0.3s, font-size 0.8s ease 0.3s;
}

li {
  z-index: 3;
  font-size: 0.7em;
}

.section *{
  background: none;
}



ul li a:hover {
  border-bottom: 2px solid  #ff5100;
}

.profile {
  color: rgb(241, 194, 40);
}

.profile:hover {
  border-bottom: 2px solid rgb(241, 194, 40);
}

.logoHome{
  justify-self: flex-start;
  font-family: Manrope;
  color: #f87117;
}


/* home */
.threeDp {
  font-weight: 100;
  font-family: Fira Code;
  width: 55%;
  position: absolute;
  line-height: 1.7em;
  letter-spacing: 0.5px;
  font-size: 15px;
  top: calc(100vh - 300px);
  justify-content: center;
  text-align: center;
  margin-top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 21;
}

.threeDp2 {
  font-weight: 900;
  font-family: Raleway;
  width: 55%;
  font-size: 8em;
  position: absolute;
  letter-spacing: 1px;
  top: calc(100vh - 500px);
  justify-content: center;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 21;
  background: none;
}

.ai {
color: #928e8c;
background: none;
}


 p{
  position: relative;
  margin-top: 10px;
  background: none;
}

#canvas3d {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*main page*/

.main-page {
  display: flex;
  margin-top: 20px;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 35px;
 
}

.name-use {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10%;
  margin-left: 4%;
}

.title {
  font-family: Manrope;
  color: black;
  font-size: 5.5em;
  line-height: 1.1em;
}

.saveButton {
  margin-top: 40px;
  color: black;
  width: 100px;
  font-family: Fira Code;
}

#knobs {
  width: 10%;
}

/*gallery*/

.container-title-p-connect {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row;
}

.text-gallery {
  margin-top: 70%;
  margin-left: 15%;
  font-family: Manrope;
  font-weight: 400;
  font-size: 1.1em;
  width: 80%;
  text-align: right;
}

.square {
  height: 500px;
  width: 400px;
  border: 3px solid black;
  margin-top: 7%;
  margin-left: -10%;
}

.title-archive {
  color: black;
  margin-top: 17%;
  margin-left: 15%;
  font-size: 6em;
  font-family: Manrope;
  transition: 1s;
}

.orangeBackground {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  height: 100vh;
}

.imagesInGallery {
  width: 290px;
  margin: 10px;
  padding: 25px 25px 65px;
  transition: 2s;
  box-shadow: 1px 1px 10px rgb(240, 235, 227);
}

.imagesInGallery:hover {
  width: 310px;
  background: rgb(240, 235, 235);
}

.title-archive:hover {
  color: purple;
}

.container-archive {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

a:link {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 1000%;
  top: 0;
  z-index: 10;
  left: 0;
  transform: scale(0);
  transform: skewX(-45);
  transform-origin: left;
  background: linear-gradient(302deg, #313f3c, #0d1815, #938686, #38435e);
  background-size: 800% 800%;

  -webkit-animation: grad 3s ease infinite;
  -moz-animation: grad 3s ease infinite;
  -o-animation: grad 3s ease infinite;
  animation: grad 3s ease infinite;
}

@-webkit-keyframes grad {
  0% {
    background-position: 0% 5%;
  }

  50% {
    background-position: 100% 96%;
  }

  100% {
    background-position: 0% 5%;
  }
}

@-moz-keyframes grad {
  0% {
    background-position: 0% 5%;
  }

  50% {
    background-position: 100% 96%;
  }

  100% {
    background-position: 0% 5%;
  }
}

@-o-keyframes grad {
  0% {
    background-position: 0% 5%;
  }

  50% {
    background-position: 100% 96%;
  }

  100% {
    background-position: 0% 5%;
  }
}

@keyframes grad {
  0% {
    background-position: 0% 5%;
  }

  50% {
    background-position: 100% 96%;
  }

  100% {
    background-position: 0% 5%;
  }
}

.transition-wipe {
  transition: 0.7s cubic-bezier(0, 0, 0.58, 1);
  transform: scaleX(0);
  opacity: 0;
}

html.is-animating .transition-wipe {
  transform: scaleX(1);
  opacity: 1;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    transform: scale(1.02);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.figMain {
  animation: showUp 2s;
}

@keyframes showUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* log-in-sign-up */

.forms {
  font-family: Fira Code;
  font-weight: 600;
}

.orangeBackgroundLogin {
  position: absolute;
  z-index: -1;
  height: 70%;
  width: 50%;
  /* left: 50%; */
  transform: translate(10%, 5%);
}

.orangeBackgroundSignup {
  position: absolute;
  z-index: -1;
  height: 70%;
  width: 50%;
  /* left: 50%; */
  transform: translate(80%, 5%);
}

/* profile */

.image {
  width: 400px;
  margin: 10px;
  padding: 25px 25px 65px;
  transition: 2s;
  box-shadow: 10px 10px 25px rgb(221, 219, 209);
}

.image:hover {
  width: 450px;
  background: rgb(240, 240, 240);
}




.personalSection {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.personalHeader {
  display: flex;
  position: fixed;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  border-right: #f32b11 solid 2px;
  height: 70%;
  margin-top: 4rem;
  border-bottom: none;
}

.profile-avatar {
  object-fit: cover;
  object-position: 100% 50;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  border: 1px solid grey;
}

.personalHeader * {
  padding: 10px;
  margin: 5px auto;
  font-family: Fira Code;
  color: #f32b11;
}

.routines-profile {
  display: flex;
  flex-flow: column;
  justify-content: right;
  align-items: flex-end;
  width: 82%;
  margin-top: 5rem;
}

.eachRoutine {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  border-bottom: 1px solid #f32b11;
  color: #f32b11;
  align-items: flex-start;
  font-size: 1rem;
  letter-spacing: 2px;
}


.eachRoutine * {
  padding: 3px;
  color: #f32b11;
}

.delete-routine-btn {
  border: 1px solid #f32b11;
  background: #f32b11;
  border-radius: 50%;
  margin-left: 1rem;
  color: white;
  font-size: 0.7rem;
  width: 18px;
  height: 18px;
  text-align: center;
  cursor: pointer;
  margin-left: 2rem;
}

#add-routine-btn {
  width: 25%;
  height: 4rem;
  margin-bottom: 3rem;
  cursor: pointer;
  border: 1px solid #f32b11;
  color: #f32b11;
}

#newRoutine {
  width: 30%;
  padding-right: 5%;
}


.add-btn {
  width: 55%;
  margin-top: 1.5rem;
  margin-left: 50%;
  height: 2.5rem;
  border: 1px solid #f32b11;
}


#routineName {
  width: 150%;
  height: 3rem;
  border: none;
  border-bottom: 1px solid #f32b11;
  float: none;
  color: #f32b11;
}


#personal-edit {
  border: 1px solid #f32b11;
  margin-top: 1.5rem;
}


.images-profile p {
  color: #f32b11;
}
/* edit profile */

.personalHeader2 {
  display: flex;
  position: fixed;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-left: 30%;
  border-left: #f32b11 2px solid;
  border-right: #f32b11 2px solid;
  align-self: auto;
}
.personalHeader2 button {
  color: #f32b11;
  margin-top: 1rem;
}

.image-input-btn {
  color: #f32b11;
  height: 2rem;
}

.personalHeader2 * {
  padding: 7px;
  margin: 6px auto;
  font-family: Fira Code;
  color: #f32b11;
}

/* Profile End */


.box {
  position: relative;
}

.image2 {
  width: 400px;
  margin: 10px;
  padding: 10px;
  transition: 2s;
  box-shadow: 10px 10px 25px rgb(221, 219, 209);
  position: relative;
}

.deleteButton {
  position: absolute;
  color: #f93b20;
  font-family: Fira Code;
  transition: 0.5s;
}

.deleteButton:hover {
  color: white;
  background-color: #f93b20;
}

.profile-pic {
  width: 150px;
}

#notLog {
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 500;
}

.succededDiv {
  position: absolute;
  right: 20%;
  top: 620px;
  font-family: Fira Code;
}

.single-piece {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.created {
  font-family: Fira Code;
  font-size: 1em;
  border-bottom: 1.5px solid black;
}

.you-have-no {
  margin-top: 30%;
  font-family: Fira Code;
  font-size: 1.2rem;
  border-bottom: 1.5px solid #fd978a;
}

/* about */

.about-text {
  width: 60%;
  display: flex;
  flex-flow: column;
  text-align: center;
  margin: 0 auto;
}

.about-text p {
  font-family: Manrope;
  line-height: 1.6em;
  letter-spacing: 0.6px;
  font-size: 15px;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.about-text p a {
  color: white;
  border-bottom: 2px solid white;
}

.imagShow {
  position: absolute;
  left: 0;
  z-index: -1;
}

.titleAbout {
  
}

/* -------EXERCCISE CARD CONTAINERS */

.routineHeader {
  width: 40%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.routineHeader h1 {
  font-size: 3rem;
  margin-bottom: 5rem;
  color: #333333;
}

.allExerciseCards {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.exercise-card {
  margin-top: 20px;
  margin-left: 3%;
  width: 250px;
  min-height: 700px;
  border: 2px solid #fd978a;
  margin: auto 30px;

  /* border-radius: 5%; */
  
}

.exercise-card h5 {
  font-size: 1rem;
  margin-top: 20px;
  letter-spacing: 1.5px;
  color: #fd978a;
}
.exercise-card h1 {
  color: #fd978a;
  font-size: 2rem;
  letter-spacing: 3px;
}

.exercise-card p {
  color: #fd978a;
  font-size: 1rem;
}

.exercise-card-content {
  justify-content: space-around;
  margin: 2% 2% 2% 2%;
}

.buttons-exer {
  height: 1.5rem;
  margin-top: 1rem;
  justify-content: space-between;
}

.ex-move-btn {
  background-color: rgb(233, 221, 59);
  float: left;
  margin-left: 1rem;
  width: 6rem;
  height: 1.5rem;
  border: none;
}

.ex-move-btn:hover {
  color: rgb(233, 221, 59);
  background-color: #333333;
}

.ex-delete-btn {
  background-color: rgb(175, 29, 29);
  float: right;
  margin-right: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
}

.ex-delete-btn:hover {
  color: rgb(175, 29, 29);
  background-color: #333333;
}

.ex-card-main {
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 3rem;
}

.ex-card-main h2{
  font-size: 30px;
  border-bottom: #fd978a solid 2px;


}

/* HOMEPAGE DESC CARDS */

.intro-card{
  display: block;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin: 2% 2%;
  width: 31%;
  height: 500px;
  /* border-radius: 5%; */
  background-image: url('/resources/div2.jpg');
}
.intro-card *{
  background: none;
  color: #333333;

}
.intro-card-content{
  justify-content: space-around;
  margin: 2% 2% 2% 2%;
}

.instruction-image{
  width: 220px;
}

.intro-card-main {
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 3rem;
}

.intro-card h5 {
  font-size: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 1.5px;
  color: #333333;
  font-weight: 500;
}
.intro-card h1 {
  color: #333333;
  font-size: 2rem;
  letter-spacing: 3px;
}

.intro-card p {
  color: #333333;
  font-size: 1rem;
}

.intro-card *{
  font-family: Raleway;
}
.instructions-main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2 em;
}

.top{
  min-height: 95vh;
  width: 95%;
  border-bottom: 2px solid #fd978a;
  ;
}

.bottom{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.getReady{
  display: flex;
  justify-content: center;
 
  margin: auto auto;
}

.getReady a {
  width: 160px;
  height: 60px;
}

.inputsPhoto, .inputsEx{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px auto;
  text-align: center;

}
.inputsPhoto *{
  margin: 10px;
  padding: 10px;
  
}

.eachRoutine{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-around;
}

.eachRoutine *{
  padding: 3px;
}


.loading {
  
  width: 120px;
  height: 120px;
  background: linear-gradient(-45deg, #ED1C24, #FCEE21);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: rotation 4s ease-in-out infinite;
}

@keyframes rotation {
  0% {
    border-radius: 5% 5% 5% 5%;
    transform: translate(-50%, -50%) rotate(0deg)
  }
  12.5% {
    border-radius: 50% 5% 5% 5%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  25% {
    border-radius: 50% 50% 5% 5%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  37.5% {
    border-radius: 50% 50% 50% 5%;
    transform: translate(-50%, -50%) rotate(135deg);
  }
  50% {
    border-radius: 50% 50% 50% 50%;
    transform: translate(-50%, -50%) rotate(180deg);
  }
  62.5% {
    border-radius: 5% 50% 50% 50%;
    transform: translate(-50%, -50%) rotate(225deg);
  }
  75% {
    border-radius: 5% 5% 50% 50%;
    transform: translate(-50%, -50%) rotate(270deg);
  }
  87.5% {
    border-radius: 5% 5% 5% 50%;
    transform: translate(-50%, -50%) rotate(315deg);
  }
  100% {
    border-radius: 5% 5% 5% 5%;
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.each-ex{
  display: flex;
  flex-direction: row;
}
