@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;900&display=swap');

html,
body {
  scroll-behavior: smooth;
  background-image: url('/resources/bkgrnd.png');
}

* {
  margin: 0px;
  padding: 0px;
  color: #f32b11;
  font-family: Raleway;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  filter: saturate(5) blur(0.6px);
  /* filter: ; */
}

/*navbar FALTA MOBILE FIRST*/

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* transform: rotate(180deg); */
  height: 4rem;
  margin: 0 auto;
  padding-right: 40px;
  z-index: 3 !important;
  border-bottom: #ff5100 1px solid;
}

li a {
  /* transform: rotate(180deg); */
  font-family: Fira Code;
  font-size: 0.9rem;
  color: #f32b11;
  font-weight: bold;
  letter-spacing: 4px;
  margin: 1.5rem;
  background-color: transparent;
  text-align: center;
  width: 15%;
  transition: width 0.8s ease 0.3s, font-size 0.8s ease 0.3s;
}

.ruido {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  max-width: 100vw;
  max-height: 100vh;
}

li {
  z-index: 3;
  font-size: 0.7em;
}

.section * {
  background: none;
}

ul li a:hover {
  border-bottom: 2px solid #ff5100;
}

.profile {
  color: rgb(241, 194, 40);
}

.profile:hover {
  border-bottom: 2px solid rgb(241, 194, 40);
}

.logoHome {
  justify-self: flex-start;
  font-family: Raleway;
  font-size: 2em;
  color: #f32b11;
}


/* home */
.threeDp {
  font-weight: 100;
  font-family: Fira Code;
  width: 55%;
  position: absolute;
  line-height: 1.7em;
  letter-spacing: 0.5px;
  font-size: 15px;
  top: calc(100vh - 300px);
  justify-content: center;
  text-align: center;
  margin-top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 21;
}


.threeDp2 {
  font-weight: 900;
  font-family: Raleway;
  width: 55%;
  font-size: 8em;
  position: absolute;
  letter-spacing: 1px;
  top: calc(100vh - 500px);
  justify-content: center;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 21;
  background: none;
}


.ai {
  color: #928e8c;
  background: none;
}


p {
  position: relative;
  margin-top: 10px;
  background: none;
}

#canvas3d {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*main page*/

.main-page {
  display: flex;
  margin-top: 20px;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  width: 99vw ;

}

.name-use {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10%;
  margin-left: 4%;
}

.title {
  font-family: Manrope;
  color: black;
  font-size: 5.5em;
  line-height: 1.1em;
}

.saveButton {
  margin-top: 40px;
  color: black;
  width: 100px;
  font-family: Fira Code;
}

#knobs {
  width: 10%;
}

a:link {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 1000%;
  top: 0;
  z-index: 10;
  left: 0;
  transform: scale(0);
  transform: skewX(-45);
  transform-origin: left;
  background: linear-gradient(302deg, #ce853b, #b92b00, #e04406, #333333);
  background-size: 800% 800%;

  -webkit-animation: grad 3s ease infinite;
  -moz-animation: grad 3s ease infinite;
  -o-animation: grad 3s ease infinite;
  animation: grad 3s ease infinite;
}

@-webkit-keyframes grad {
  0% {
    background-position: 0% 5%;
  }

  50% {
    background-position: 100% 96%;
  }

  100% {
    background-position: 0% 5%;
  }
}

@-moz-keyframes grad {
  0% {
    background-position: 0% 5%;
  }

  50% {
    background-position: 100% 96%;
  }

  100% {
    background-position: 0% 5%;
  }
}

@-o-keyframes grad {
  0% {
    background-position: 0% 5%;
  }

  50% {
    background-position: 100% 96%;
  }

  100% {
    background-position: 0% 5%;
  }
}

@keyframes grad {
  0% {
    background-position: 0% 5%;
  }

  50% {
    background-position: 100% 96%;
  }

  100% {
    background-position: 0% 5%;
  }
}

.transition-wipe {
  transition: 0.7s cubic-bezier(0, 0, 0.58, 1);
  transform: scaleX(0);
  opacity: 0;
}

html.is-animating .transition-wipe {
  transform: scaleX(1);
  opacity: 1;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    transform: scale(1.02);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.figMain {
  animation: showUp 2s;
}

@keyframes showUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* log-in-sign-up */

.forms {
  font-family: Fira Code;
  font-weight: 600;
}

.orangeBackgroundLogin {
  position: absolute;
  z-index: -1;
  height: 70%;
  width: 50%;
  /* left: 50%; */
  transform: translate(10%, 5%);
}

.orangeBackgroundSignup {
  position: absolute;
  z-index: -1;
  height: 70%;
  width: 50%;
  /* left: 50%; */
  transform: translate(80%, 5%);
}

/* profile */

.personalSection {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.personalHeader {
  display: flex;
  position: fixed;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  border-right: #f32b11 solid 2px;
  height: 70%;
  margin-top: 4rem;
  border-bottom: none;
}

.profile-avatar {
  object-fit: cover;
  object-position: 100% 50;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  border: 1px solid grey;
}

.personalHeader * {
  padding: 10px;
  margin: 5px auto;
  font-family: Fira Code;
  color: #f32b11;
}

.routines-profile {
  display: flex;
  flex-flow: column;
  justify-content: right;
  align-items: flex-end;
  width: 82%;
  margin-top: 5rem;
}

.doesntContainer {
  display: flex;
  justify-content: center;
}

#centered {
  text-align: center;
  margin: 40px auto;
  font-size: 33px;
  font-family: Fira Code;
}

.eachRoutine * {
  padding: 3px;
  color: #f32b11;
}

.delete-routine-btn {
  border: 1px solid #f32b11;
  background: #f32b11;
  border-radius: 50%;
  margin-left: 1rem;
  color: white;
  font-size: 0.7rem;
  width: 18px;
  height: 18px;
  text-align: center;
  cursor: pointer;
  margin-left: 2rem;
}

#add-routine-btn {
  width: 31%;
  height: 3rem;
  margin-bottom: 3rem;
  cursor: pointer;
  border: 1px solid #f32b11;
  color: #f32b11;
}

#newRoutine {
  width: 30%;
  padding-right: 5%;
}


.add-btn {
  width: 55%;
  margin-top: 1.5rem;
  margin-left: 30%;
  height: 2.5rem;
  border: 1px solid #f32b11;
}


#routineName {
  width: 120%;
  height: 2rem;
  border: none;
  border-bottom: 1px solid #f32b11;
  float: none;
  color: #f32b11;
}


#personal-edit {
  border: 1px solid #f32b11;
  margin-top: 1.5rem;
}


.images-profile p {
  color: #f32b11;
}

/* edit profile */

.personalHeader2 {
  display: flex;
  position: fixed;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-left: 30%;
  border-left: #f32b11 2px solid;
  border-right: #f3d31d 2px solid;
  align-self: auto;
}

.personalHeader2 button {
  color: #f32b11;
  margin-top: 1rem;
}

.image-input-btn {
  color: #f32b11;
  height: 2rem;
  width: 38%;
}

#routineName {
  background: none;
}

.personalHeader2 * {
  padding: 7px;
  margin: 6px auto;
  font-family: Fira Code;
  color: #f32b11;
}

/* Profile End */

/* about */

.about-text {
  width: 50%;
  display: flex;
  flex-flow: column;
  text-align: center;
  margin: 0 auto;
}

.about-text p {
  font-family: Raleway;
  line-height: 1.6em;
  letter-spacing: 0.6px;
  font-size: 1.2em;
  text-align: center;
  color: rgb(241, 194, 40);
  margin-top: 20px;
}

.titleAbout {
  margin-top: 20%;
  font-size: 3em;
}

.about-text p a {
  color: white;
  border-bottom: 2px solid white;
}

.imagShow {
  position: absolute;
  left: 0;
  z-index: -1;
}

/* -------EXERCCISE CARD CONTAINERS */

.routineHeader {
  width: 40%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.routineHeader h1 {
  font-size: 4rem;
  margin-bottom: 5rem;
  color: #f93b20;
}

.allExerciseCards {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 40px;
  margin: 0 auto;
}

#excercise-select {
  background: none;
}

.exercise-card {
  margin-top: 20px;
  width: 300px;
  min-height: 500px;
  margin: auto 5px;
  background-image: url('/resources/div2.jpg');
  background-size: cover;
  margin-bottom: 2%;
}

.exercise-card h5 {
  font-size: 1.1rem;
  margin-top: 11px;
  letter-spacing: 1.5px;
  color: white;
}

.exercise-card h1 {
  color: #ee8054;
  font-size: 2rem;
  letter-spacing: 3px;
}

.exercise-card p {
  color: #f9faf4;
  font-size: 0.9rem;
  line-height: 1.3em;
  padding-top: 10px;
}

.exercise-card-content {
  justify-content: space-around;
  margin: 2% 2% 2% 2%;
}

.buttons-exer {
  height: 1.5rem;
  margin-top: 1rem;
  justify-content: space-between;
}

.ex-move-btn {
  background: none;
  float: left;
  margin-left: 1rem;
  width: 200px;
  height: 1.5rem;
  border: none;
  margin-top: 5%;
  color: #333333;
}

.ex-move-btn:hover {
  color: #f32b11 background-color: #333333;
}

.ex-delete-btn {
  background-color: #f32b11;
  float: right;
  margin-right: 1rem;
  height: 1.2rem;
  width: 1.2rem;
  border: none;
  margin-top: 5%;
  border-radius: 20%;
}

.ex-delete-btn:hover {
  color: rgb(175, 29, 29);
  background-color: #333333;
}

.ex-card-main {
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}


.ex-card-main h2 {
  font-size: 1.5em;
  border-bottom: #333333 solid 2px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #333333;
}

.ex-card-main * {
  background: none;
}

/* HOMEPAGE DESC CARDS */

.intro-card {
  display: block;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin: 2% 2%;
  width: 31%;
  height: 500px;
  /* border-radius: 5%; */
  background-image: url('/resources/div2.jpg');
}

.intro-card * {
  background: none;
  color: #333333;

}

.intro-card-content {
  justify-content: space-around;
  margin: 2% 2% 2% 2%;
}

.instruction-image {
  width: 220px;
}

.intro-card-main {
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 3rem;
}

.intro-card h5 {
  font-size: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 1.5px;
  color: #333333;
  font-weight: 500;
}

.intro-card h1 {
  color: #333333;
  font-size: 2rem;
  letter-spacing: 3px;
}

.intro-card p {
  color: #333333;
  font-size: 1rem;
}

.intro-card * {
  font-family: Raleway;
}

.instructions {
  color: white !important;
}

.instructions-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2 em;
}

.top {
  min-height: 95vh;
  width: 95%;
  border-bottom: 2px solid #fd3300;
}

.bottom {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url('/resources/fondo.png');
}

.getReady {
  display: flex;
  justify-content: center;
  margin: auto auto;
}

.getReady a {
  width: 160px;
  height: 60px;
}

.inputsPhoto,
.inputsEx {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 50px auto;
  text-align: center;
}

.inputsPhoto * {
  margin: 10px;
  padding-left: 27%;
}

.title-features1 {
  text-align: center;
  margin-top: 10%;
  text-shadow: 2px 2px 1px rgb(105, 77, 77);
}

.title-features2 {
  text-align: center;
  margin-top: 7%;
  text-shadow: 2px 2px 1px rgb(105, 77, 77);

}

input[type='file'] {
  color: transparent;
}

.eachRoutine {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 325px;
  justify-content: space-between;
  font-size: 1.5rem;
  letter-spacing: 2px;
  border-bottom: 1px solid #f32b11;
  color: #f32b11;
  align-items: flex-start;
  font-size: 1rem;
  letter-spacing: 2px;
}


.each-ex {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  justify-content: space-around;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ec1515;
}

::-webkit-scrollbar-thumb {
  background: #fa9108;
}

::-webkit-scrollbar-thumb:hover {
  background: #fcee21;
}



#notLog {
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 500;
}